PROJECT_NAME=WinAudit.MajorERP
API_V1_STR=/api/v1
APP_PORT=8003

ADMIN_DB_URL=postgresql+psycopg2://postgres:password123@localhost:5444/DbWinAuditAdmin
TENANT_DB_PREFIX=DbWinAudit
BASE_STORAGE=storage
DEFAULT_TIMEZONE=America/Guayaquil
LOG_LEVEL=INFO
